h1{
    color: coral;
}

h2{
    color: cornflowerblue;
}

#t3{
    color: darkgoldenrod;
}

#t4{
    color: darkgreen;
}

div{
    background-color:magenta;
}

.fa{
    background-color: darkkhaki;
}