h1{
    background-color: brown;

}

main{
    background-color: yellow;
    color: turquoise;
}

p{
    background-color: cornflowerblue;
}

#gre{
    background-color: green;
}

.purp{
    background-color: indigo;
    color: thistle;
}

#azul{
    background-color: blue ;
}